{% load static %}
{% load thumbnail %}
<aside class="col-12 col-md-3 shadow-lg p-2 mb-2 bg-white rounded">
    <ul class="list-group list-group-flush">
        <li class="list-group-item shadow-lg p-2 mb-2 bg-white">
            {% thumbnail profile.avatar "800x800" crop="center" upscale=True as small %}
                <img class="img-fluid img-thumbnail mx-auto card-img" src="{{ small.url }}">
            {% empty %}
            <div class="col-md-12">
                <img class="img-fluid img-thumbnail mx-auto card-img" src="{% static 'img/no_img.png' %}" alt="нет фото">
            </div>
            {% endthumbnail %}
        </li>
        <li class="list-group-item">
            Дата публикации: <strong>{{ post.pub_date|date:'d E Y' }}</strong>
        </li>
            {% if post.group %}
            <li class="list-group-item">
            Группа: <strong>
            <a href="{% url 'posts:group_list' post.group.slug %}" class="link-light text-decoration-none" style="color: black;">
            {{ post.group }}
            </a>
            </strong>
            </li>
            {% endif %}
        <li class="list-group-item">
            Автор: <strong>
            <a href="{% url 'posts:profile' post.author %}" class="link-light text-decoration-none" style="color: black;">
            {% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %}
            </a>
            </strong>
        </li>
        <li class="list-group-item">
            Всего постов автора: <strong>{{ post.author.posts.count }}</strong>
        </li>
        <li class="list-group-item">
        <p class="card-text">Подписчики: <strong>{{ post.author.following.count }}</strong></p>
        </li>
        <li class="list-group-item">
        <p class="card-text">Подписан: <strong>{{ post.author.follower.count }}</strong></p>
        </li>
        {% if user.is_authenticated %}
            {% if request.user == post.author %}
                <li class="list-group-item">
                    <a href="{% url 'users:update_profile' %}" class="link-light text-decoration-none" style="color: black;">
                    Редактировать профиль
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</aside>