{% extends 'base.html' %}
{% block title %}
    {% if author.get_full_name %}
        {{ author.get_full_name }}
    {% else %}
        {{ author }}
    {% endif %} профайл пользователя
{% endblock %}
{% block content %}

<div class="row shadow-lg p-2 mb-2 bg-white rounded">
    <div class="card" style="width: 100%">
        <div class="card-body">
            <h1 class="card-title">Все посты пользователя {% if author.get_full_name %}{{ author.get_full_name }}{% else %}{{ author }}{% endif %}</h1>
            <h3 class="card-text">Всего постов: {{ page_obj.paginator.count }}</h3>
            
            {% if user.is_authenticated %}
                {% if request.user != author %}
                    {% if following %}
                        <a class="btn btn-lg btn-light" href="{% url 'posts:profile_unfollow' author.username %}" role="button">Отписаться</a>
                    {% else %}
                        <a class="btn btn-lg btn-primary" href="{% url 'posts:profile_follow' author.username %}" role="button">Подписаться</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% for post in page_obj %}

        <ul class="list-group shadow-lg p-1 mb-1 bg-white rounded">
            <li class="list-group-item list-group-item-light">
            Дата публикации: <strong>{{ post.pub_date|date:'d E Y' }}</strong>
            </li>
        </ul>

        {% include 'posts/includes/post_block.html' %}

        <div class="card-body shadow-lg p-2 mb-2 bg-white rounded">
            <a href="{% url 'posts:post_detail' post.id %}"><button type="button" class="btn btn-outline-primary btn-sm">Подробная информация</button></a>  
            {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}"><button type="button" class="btn btn-outline-primary btn-sm">Все записи группы {{ post.group }}</button></a>
            {% endif %}
        </div>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}