{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}

<div class="row shadow-lg p-2 mb-2 bg-white">
<aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {% thumbnail profile.avatar "x150" crop="center" as small %}
                <img class="img-fluid img-thumbnail mx-auto card-img" class="rounded" src="{{ small.url }}">
            {% empty %}
                <div class="col-md-12">
                    <img class="img-fluid img-thumbnail mx-auto card-img" src="{% static 'img/no_img.png' %}" alt="нет фото">
                </div>
            {% endthumbnail %}
        </li>
        <li class="list-group-item">
        Полное имя: {{ author.get_full_name }}
        </li>
        <li class="list-group-item">
        Проживание: {{ profile.location }}
        </li>
        <li class="list-group-item">
        О себе: {{ profile.bio }}
        </li>
        <li class="list-group-item">
        Дата рождения: {{ profile.birth_date }}
        </li>
        <li class="list-group-item">
        <a href="{% url 'users:update_profile' %}" class="link-light text-decoration-none" style="color: black;">
        Редактировать профиль
        </a>
        </li>
    </ul>
</aside>
<article class="col-12 col-md-9">
    {% for post in page_obj %}
        {% include 'posts/includes/ul_posts.html' %}
        {% include 'posts/includes/post_block.html' %}

        <ul class="list-group shadow-lg p-1 mb-2 bg-white rounded">
        <li class="list-group-item list-group-item-light">
        <a href="{% url 'posts:post_detail' post.id %}"><button type="button" class="btn btn-outline-primary btn-sm">Подробная информация</button></a>
        </a>
        {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}"><button type="button" class="btn btn-outline-primary btn-sm">Все записи группы {{ post.group }}</button></a>
        {% endif %}
        </li>
        </ul>

        {% if not forloop.last %}{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
</article>
</div>
{% endblock %}