{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load user_filters %}
{% load tz %}
{% block title %}Диалоги на сайте{% endblock %}
{% block content %}
<div class="row shadow-lg p-2 mb-2 bg-white rounded">
    <aside class="col-12 col-md-3 shadow-lg p-2 mb-2 bg-white rounded">
    {% include 'posts/includes/aside.html' %} 
    {% include 'posts/includes/aside_list.html' %}
    </aside>
    <article class="col-12 col-md-9">
    {% if chats.count == 0 %}
        <div class="panel panel-body">Нет ни одного начатого диалога!</div>
    {% endif %}
    {% for chat in chats %}
        {% if chat.message_set.count != 0 %}
            {% get_companion user chat as companion %}
            {% with last_message=chat.message_set.last %}
                {% thumbnail companion.profile.avatar "x800" crop="center" as small_comm %}
                <img width="20px" height="auto" class="img-fluid rounded" src="{{ small_comm.url }}">
                {% empty %}
                <img width="20px" height="auto" lass="img-fluid rounded" src="{% static 'img/no_img.png' %}" alt="нет фото">
                {% endthumbnail %}
                <strong class="list-group-item-heading">{{ companion.username }}</strong>
                <small style="font-size:9px;">{{ last_message.pub_date|date:'d E Y' }}</small>
                {% if companion != last_message.author or last_message.is_readed %}
                <br>
                    {% thumbnail last_message.author.profile.avatar "x800" crop="center" as small_comm %}
                    <img width="20px" height="auto" class="img-fluid rounded" src="{{ small_comm.url }}">
                    {% empty %}
                    <img width="20px" height="auto" lass="img-fluid rounded" src="{% static 'img/no_img.png' %}" alt="нет фото">
                    {% endthumbnail %}
                    <a style="color:red;" class="badge badge-pill badge-primary bg-dark" href="{{ chat.get_absolute_url }}">
                    Прочитать сообщение
                    </a>
                {% else %}
                <br>
                    {% thumbnail last_message.author.profile.avatar "x800" crop="center" as small_comm %}
                    <img width="20px" height="auto" class="img-fluid rounded" src="{{ small_comm.url }}">
                    {% empty %}
                    <img width="20px" height="auto" lass="img-fluid rounded" src="{% static 'img/no_img.png' %}" alt="нет фото">
                    {% endthumbnail %}
                    <a style="color:red;" class="badge badge-pill badge-primary bg-dark" href="{{ chat.get_absolute_url }}">
                    Прочитать новое сообщение
                    </a>
                {% endif %}
                <hr>
            {% endwith %}
        {% endif %}
        
    {% endfor %}
    </article>
</div>
{% endblock %}